body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
 h1{
    font-size: 50px;
 }
 #col{
    color: orange;
 }
 section{
    display: flex;
 }
 .rak{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
 }
 .half-width{
    width: 50%; 
    padding: 40px;
 }
 .half-width img{
    width: 80%;
 }
 .bgimage{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    font-weight: 700;
    padding: 10px 40px;

 }
